/*
*****************************************
cod is header
*****************************************
*/



@keyframes drob {
    0% {
        transform: translateY(-100px);
    }

    100% {
        transform: translateY(0px);
    }
}


header {
    animation: drob 1.3s 1;
}

/*
*****************************************
cod is logo
*****************************************
*/

h1 {
    animation: down 2s 1;
}

@keyframes down {
    0% {
        transform: translatey(-30px);
        
    }

    100% {
        transform: translatex(0px);
     
    }
}

/*
*****************************************
cod is posters
*****************************************
*/
.sub-body{
    animation: posters 2s 1;
}
@keyframes posters{
    0%{
        transform: translateY(-200px);
    }
    100%{
        transform: translateY(0px);
    }
}